.become__driver {
  background: linear-gradient(105deg, rgba(0, 9, 74, 0.95), rgba(0, 13, 107, 0.85)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0px;
}

.become__driver .row {
  align-items: center;
}

.become__driver-title {
  font-size: 2.6rem;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 28px;
}

@media only screen and (max-width: 992px) {
  .become__driver-title {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 768px) {
  .become__driver {
    padding: 50px 0px;
  }

  .become__driver-title {
    font-size: 1.4rem;
  }

  .become__driver-btn {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .become__driver-img {
    display: none;
  }

  .become__driver {
    text-align: center;
  }
}
